* {
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		box-sizing: border-box;
}

	body {
		font-family: 'Roboto', sans-serif;
		height: 100vh;
		background-color:	#f0f0f5;
	
}


nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #303030;;
	width: 100%;
	min-height: 6vh;
	
}
.logo{
	color: #f0f0f5;
	font-size: 25px;
	font-weight: 700;

}
.nav-links{
	display: flex;
	justify-content: space-around;
  	list-style: none;
	align-items: center;
	width: 40%;

}
nav ul li a {
	text-decoration: none;
	color: #f0f0f5;
	font-size: 20px;
	text-transform: uppercase;
	}

	nav ul li a:hover {
		transition: .2s;
		color: white;
		-webkit-text-stroke: 1px;
		-webkit-text-fill-color: white;
		
	}
	@media screen and (max-width:1024px){
	.nav-links{
		width: 60%;
	}
}

#homepage{
	width: 100%;
	min-height: 800px;
	background-color: #ffffffbd;
}


.hometext{
	display: block;
	position: relative;
	margin-left: auto;
    margin-right: auto;	
	top: 300px;
}
h1{
	font-weight: 900;
	font-size: 150px;
	text-align: center;
}
h2{
	font-weight: 300;
	text-align: center;
}
.separateline{
	width:100%;
	height: 2px;
	background-color: white;
	box-shadow: 0 0 2px black;
}
#about{
	background-color:#f0f0f5;
	width: 100%;
	padding: 40px 0;
}

.title-about{
 	text-transform: uppercase;
	text-align: center;
	padding-bottom: 70px;
	
}
.title-about h3{
	font-size: 40px;
	margin: auto;
	color: #303030
}
.flex-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	
 }
 
.text{
flex-basis: 50%;	

}
.selfie{
	flex-basis: 50%;
	margin: auto;
}
 
.selfie img{
	width:60%;
	border-radius: 50%;
}

.text h4{
	text-align: left;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: bold;
	color: #303030

}

.text-desc p{
	text-align: justify;
	line-height: 1.6;

}


#projects{
	background-color: #f0f0f5;
	width: 100%;
	height: 500px;
}